#wj add
#.idea/
#*.jar
# .idea/workspace.xml


~$*.*
id_cache.*

workspace.xml
.idea/workspace.xml
/.idea/workspace.xml
*/.idea/workspace.xml
*/*/.idea/workspace.xml
*/*/*/.idea/workspace.xml

markdown-navigator/
markdown*.xml


data_tmp/
# 下载文件的位置
data_tmp_out/
# 输出文件的位置
id_cache.*
# Navicat 缓存